:root {
  --back: #0e0e0e;
  --universal: #ffffff;
  --primary: #fca311;
  --secondary: #dcc9aa;
}
/* resetting browser's default styles */
body {
  font-size: 15px;
}
body,
p,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* basic styles */
body {
  background: var(--back);
  overflow-x: hidden;
  color: var(--universal);
}
input,
textarea {
  background: none;
  border: 1px solid var(--secondary);
  border-radius: 10px;
  display: inline-block;
  outline: none;
  font-family: "lato small";
}
h2 {
  font-size: 2em;
}
p {
  font-size: 0.8em;
}
label {
  font-size: 1em;
  margin-bottom: 15px;
  font-family: "lora";
}
.style-input:focus {
  box-shadow: 0 0 5px rgba(194, 215, 218, 0.5);
}
/* fonts */
@font-face {
  font-family: "lato bold";
  src: url(assets/fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: "lato";
  src: url(assets/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "lato small";
  src: url(assets/fonts/Lato-Light.ttf);
}
@font-face {
  font-family: "lato thin";
  src: url(assets/fonts/Lato-Thin.ttf);
}
@font-face {
  font-family: "josefin sans";
  src: url(assets/fonts/JosefinSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: "lora";
  src: url(assets/fonts/Lora-VariableFont_wght.ttf);
}

/* small screen styles */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-bottom: 150px;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
form {
  width: 60%;
  max-width: 400px;
  margin: 20px auto;
  padding: 60px 20px 0 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}
.container h2 {
  margin-top: 150px;
  font-family: josefin sans;
  font-weight: 500;
}
.in {
  color: var(--primary);
}
.container p {
  font-family: lora;
  margin-bottom: 30px;
}
.input {
  display: flex;
  flex-direction: column;
}

.input.success input{
  border: 1px solid #09c372;
} 
.input.err input{
  border: 1px solid red;
} 

.input .err{
  color: red; 
  margin: -15px 0 20px 0;
  font-family: 'lato small';
  font-size: 0.8em;
} 

#email,
#name {
  margin-bottom: 30px;
  height: 30px;
  color: var(--universal);
  text-indent: 10px;
}
#key {
  text-indent: 10px;
  margin-bottom: 30px;
  height: 30px;
  color: var(--universal);
}
form button {
  width: 100%;
  border-style: none;
  margin: 50px auto;
  padding: 10px;
  background: var(--secondary);
  font-family: "lato bold";
  border-radius: 40px;
  font-size: 0.7em;
  color: black;
}
form button:hover {
  background: var(--universal);
  cursor: pointer;
}
p a {
  text-decoration: underline;
  color: var(--universal);
}
p a:hover {
  color: var(--secondary);
}
form p {
  font-family: "lato";
  text-align: center;
}

/* .ok{
  margin: 10px;
  background: var(--primary);
  color: black;
  font-family: lora;
  border-radius: 10px;
  padding:20px;
  width: 200px;
  display: none;
} */

/* tablet screens */

@media screen and (min-width: 700px) {
  body {
    font-size: 16px;
  }
}

/* laptop screens */

@media screen and (min-width: 960px) {
  body {
    font-size: 17px;
  }
  .container h2 {
    margin-top: 180px;
  }
}

/* desktop screens */

@media screen and (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}
