:root {
  --back: #0e0e0e;
  --universal: #ffffff;
  --primary: #fca311;
  --secondary: #dcc9aa;
}

/* resetting browser's default styles */
body{
  font-size: 15px;
}
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}
/* basic styles */
body {
  background: var(--back);
  overflow-x: hidden;
  color: var(--universal);
}
input,
textarea {
  background: none;
  border: 0.5px solid;
  border-color: var(--secondary);
  border-radius: 10px;
  display: inline-block;
  outline: none;
  font-family: "lato small";
}
.style-input {
  color: var(--universal);
}
.style-input:focus {
  box-shadow: 0 0 5px rgba(194, 215, 218, 0.5);
}
/* fonts */
@font-face {
  font-family: "lato";
  src: url(assets/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "lato small";
  src: url(assets/fonts/Lato-Light.ttf);
}
@font-face {
  font-family: "lato thin";
  src: url(assets/fonts/Lato-Thin.ttf);
}
@font-face {
  font-family: "josefin sans";
  src: url(assets/fonts/JosefinSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: "poppins";
  src: url(assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "poppins small";
  src: url(assets/fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: "frank";
  src: url(assets/fonts/FrankRuhlLibre-VariableFont_wght.ttf);
}
h1 {
  font-size: 1.8em;
  font-family: josefin sans;
  font-weight: 400;
  color: var(--primary);
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}
p {
  font-size: 1.1em;
}
.size-icons {
  width: 2em;
  height: 2em;
}
footer p {
  font-size: 0.8em;
}

/* small screen styles */
/* home styles */
.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(8, 1fr);
}
.large-screen-nav {
  display: none;
}
.nav-links a.active {
  text-decoration: none;
  border-bottom: 1px solid var(--primary);
}
.menu-btn svg,
.nav-links svg {
  fill: white;
  transition: all 0.3s ease;
  display: inline-block;
}

.menu-btn svg:hover,
.nav-links svg:hover {
  fill: var(--secondary);
  cursor: pointer;
  transform: scale(1.1);
}

.nav-links svg {
  margin-top: 20px;
  margin-left: -20px;
}
.nav-links {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  box-shadow: -2px 0 10px rgba(255, 255, 255, 0.05);
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.979);
  display: none;
  flex-direction: column;
  padding: 0 0 0 190px;
  gap: 15px;
}
.nav-links a,
.nav-links h3,
svg {
  color: white;
  width: 100px;
  text-transform: uppercase;
  font-family: "lato thin";
  padding: 10px;
}
.nav-links a:hover {
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid var(--primary);
}
.small-screen-nav {
  width: 100vw;
  position: fixed;
  background: black;
  margin-bottom: 50px;
}
.menu {
  margin: 0;
  padding: 0;
  font-family: "lato small";
  font-size: 1.2em;
}
.small-screen-nav h1 {
  padding-top: 8px;
  padding-left: 20px;
  grid-column: 1/8;
  grid-row: 1;
}
.small-screen-nav h1 a {
  color: var(--primary);
  transition: all 0.3s ease;
  display: inline-block;
}

.small-screen-nav h1 a:hover {
  transform: scale(1.1);
  color: var(--secondary);
}

.menu-btn {
  margin: 15px 15px;
  width: 5em;
}
main {
  padding-top: 150px;
}
section {
  scroll-margin-top: 90px;
  scroll-margin-left: 30px;
}

#home {
  padding: 10px auto;
}
.welcome-img {
  grid-column: 1/9;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 45px;
}
.welcome-img img {
  width: 100%;
  height: 100%;
}

.welcome-texts {
  line-height: 4em;
  grid-column: 1/9;
  margin-left: 35px;
}
.hello {
  font-family: lato;
}
.welcome-texts h2 {
  font-family: josefin sans;
}
.am {
  font-weight: 300;
}
.leading {
  font-family: poppins;
  color: var(--secondary);
}
.resume-btn {
  font-family: lato;
  font-size: 1em;
  margin: 80px 35px;
  padding: 15px 100px;
  border-radius: 10px;
  border-style: none;
  background: var(--secondary);
  transition: background 0.5s ease;
}
.resume-btn:hover {
  background: var(--universal);
  cursor: pointer;
}
/* about styles */
#about,
#projects,
#blogs,
#contact {
  padding: 50px 50px;
}
#about h3,
#blogs h3,
#contact h3 {
  font-family: josefin sans;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}
.get-to-know,
.iamjunior,
.stack,
.work,
.articles,
.touch {
  color: var(--primary);
}
.reading,
.skills {
  line-height: 1.8em;
  background: #000000;
  padding: 40px 30px 80px 40px;
  grid-column: 1/9;
  margin-bottom: 20px;
  border-radius: 15px;
  font-family: "lato small";
}
@keyframes slideInFromLeft{
	0%{
	  transform: translateX(-100%);
	}
	100%{
	  transfrom: translateX(0);
	}
  }
.reading{
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}
.header {
  text-align: center;
  margin-left: -50px;
}

.languages h4,
.others h4,
.tools h4,
.database h4 {
  font-family: "lato small";
  font-weight: 100;
}
/* project styles */
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#projects h3 {
  text-align: center;
  margin-bottom: 20px;
  font-family: josefin sans;
  font-weight: 600;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--secondary);
  width: 50%;
}

.title {
  display: flex;
  justify-content: center;
  font-family: "lato small";
  font-weight: 100;
}
.title a {
  margin-left: 2em;
  padding-top: 20px;
}
.first-project p {
  padding-bottom: 50px;
  font-family: "lato thin";
  line-height: 25px;
  border-bottom: 1px solid var(--secondary);
}
.style-link {
  text-transform: uppercase;
  color: var(--secondary);
  font-family: "lato small";
  font-weight: 700;
}
.style-link:hover {
  text-decoration: underline;
}
/* blogs styles */
.first-blog img,
.first-blog p,
.first-blog h4,
.likes-comments {
  grid-column: 1/9;
}
.first-blog img {
  width: 250px;
}
.blog-contents.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
.first-blog h4 {
  font-family: lato;
  font-weight: 200;
}

.first-blog p {
  margin-bottom: 20px;
  font-family: "lato small";
}

.likes-comments,
.likes,
.comments {
  display: flex;
}
.likes-comments img {
  width: 15px;
  height: 15px;
  margin-left: auto;
}
.likes img,
.comments img {
  margin-right: 10px;
}
.likes p,
.comments p {
  margin-right: 15px;
  font-size: 0.9em;
}
/* contact styles */
#contact form {
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}
#contact input,
#contact textarea {
  width: 100%;
  margin: 20px auto;
  text-indent: 10px;
}
#contact input[type="text"],
#contact input[type="email"] {
  height: 45px;
}
.style-input {
  height: 100px;
}
.contact-btn {
  font-family: "lato small";
  padding: 10px 70px;
  background: var(--secondary);
  border-style: none;
  border-radius: 20px;
  transition: background 0.5s ease;
}
.contact-btn:hover {
  background: #ffffff;
  cursor: pointer;
}
#contact p {
  font-family: "poppins small";
  text-align: center;
  font-size: 15px;
}
.social {
  color: var(--secondary);
}
.social-icons {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  gap: 15px;
}
.social-icons li:hover img {
  opacity: 0.6;
}
/* footer styles */
footer {
  width: 100vw;
  background: #000000;
  padding: 0 -20px;
}
.subscribe,
.footer-items,
.social-icons,
p {
  grid-column: 1/9;
}
.subscribe {
  margin-top: 20px;
  font-family: josefin sans;
  justify-content: center;
  align-items: center;
}
h5 {
  grid-column: 1/2;
  margin-left: 35px;
  margin-right: 7px;
}
.subscribe input {
  grid-column: 3/7;
  margin-left: -20px;
  margin-right: 10px;
  height: 40px;
  background: var(--universal);
  border-radius: 50px;
  width: 100%;
  border-color: var(--universal);
  font-family: josefin sans;
}
.style-input-footer,
.style-input-footer::placeholder {
  text-indent: 10px;
}
.subscribe button {
  grid-column: 7/8;
  background: none;
  border-style: none;
}
.subscribe button:hover {
  box-shadow: 1px 2px 3px rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.footer-items {
  margin: 20px 0 20px 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}
.footer-items li {
  flex-basis: calc(30% - 20px);
  margin-bottom: 20px;
}
.footer-items li:hover {
  border-bottom: 1px solid var(--universal);
  padding: 5px 10px;
}
footer p,
.footer-items li a {
  font-family: josefin sans;
  font-weight: 200;
  text-align: center;
  color: var(--universal);
}
.style-input-footer {
  color: #000000;
}
/* tablet styles */

@media screen and (min-width: 700px) {
  body {
    font-size: 16px;
  }
  /* home styles */

  .small-screen-nav h1 {
    padding-left: 25px;
  }
  .nav-links {
    right: 0;
    width: 200px;
    padding: 15px 0 0 130px;
  }
  .welcome-img {
    grid-column: 1/4;
    width: 200px;
    height: 200px;
    margin-left: 50px;
  }
  .welcome-texts {
    line-height: 2.5em;
    grid-column: 4/9;
    margin-left: 60px;
  }
  .welcome-texts p {
    font-size: 0.9em;
  }
  .resume-btn {
    width: 45%;
    grid-column: 3/9;
    margin: 30px auto;
    padding: 8px 90px;
  }
  .reading,
  .skills {
    height: 100%;
    max-height: 650px;
    width: 100%;
    max-width: 400px;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    place-items: center;
  }

  #projects h3 {
    width: 25%;
  }
  .first-blog img {
    width: 300px;
    margin-left: 0;
    grid-column: 3/9;
  }
  .first-blog h4,
  .first-blog p {
    font-size: 0.9em;
  }
  .likes-comments img {
    width: 20px;
    height: 20px;
  }
  .likes p,
  .comments p {
    font-size: 0.8em;
  }
  footer {
    padding: 30px auto;
  }

  .subscribe h5 {
    grid-column: 2/3;
    margin: 0  40px 0 100px;
  }
  .subscribe input {
    width: 100%;
    grid-column: 3/6;
  }
  .subscribe button {
    grid-column: 6/7;
    margin-left: -40px;
  }
  .subscribe {
    margin: 20px 50px 0 10px;
  }
  .footer-items {
    margin: 20px 50px;
  }
  .footer-items {
    gap: 40px;
  }
  .footer-items li {
    flex-basis: auto;
    margin-bottom: auto;
  }
  footer .social-icons {
    margin: 10px auto 20px auto;
  }
}

/* laptop small styles */
@media screen and (min-width: 960px) {
  body {
    font-size: 17px;
  }
  * {
    scroll-behavior: smooth;
  }
  .grid {
    max-width: 1000px;
    margin: 0 auto;
  }
  .small-screen-nav {
    display: none;
  }
  .large-screen-nav {
    background-color: black;
    display: block;
    position: fixed;
    width: 100vw;
    height: 160px;
    margin-bottom: 50px;
  }
  .logo {
    display: flex;
    justify-content: center;
  }
  .logo h1 a {
    margin: 10px 0;
    color: var(--primary);
    transition: all 0.3s ease;
    display: inline-block;
  }
  .logo h1 a:hover{
    color: var(--secondary);
    cursor: pointer;
    transform: scale(1.1);
  }
  .links ul {
    display: flex;
    justify-content: space-evenly;
  }
  .links ul li a {
    color: var(--universal);
    font-family: "lato small";
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  .links ul li a:hover,
  .links ul li a.active {
    text-decoration: none;
    border-bottom: 1px solid var(--primary);
  }
  #home {
    margin: auto 70px;
  }
  .welcome-img {
    width: 250px;
    height: 250px;
    margin: 100px 100px 0 50px;
  }
  .welcome-texts {
    margin-top: 80px;
    line-height: 3em;
  }
  #about {
    margin: auto 70px;
  }
  .about-me {
    flex-direction: row;
  }
  .reading {
    width: 700px;
    height: 1500px;
    padding: 22px 30px 80px 40px;
  }
  .skills {
    margin-left: 50px;
  }
  #projects {
    margin: auto 30px;
  }
  #projects h3 {
    width: 25%;
  }
  .blog-contents.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .first-blog img {
    margin-left: -100px;
  }
  .likes img,
  .comments img {
    margin-left: 0;
  }
  #contact form {
    width: 100%;
    max-width: 100%;
  }
  .contact-form {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 0 0 0 50px;
  }
  .left-side {
    grid-column: 2/5;
  }
  .contact-form textarea {
    grid-column: 6/9;
  }
  .contact-form button {
    grid-column: 4/7;
  }
  .contact-btn {
    margin-top: 30px;
    padding: 10px;
  }
  .style-input {
    height: 130px;
  }
  .style-input-footer{
     margin-right: 100px;
  }
  .subscribe {
    margin-left: 28px;
    margin-top: 20px;
  }
  .subscribe button {
    margin-left: -70px;
  }
  .footer-items {
    margin: 20px 50px;
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  body {
    font-size: 18px;
  }
  .grid {
    max-width: 1200px;
    justify-content: center;
  }
  .welcome-img {
    width: 250px;
    height: 270px;
    grid-column: 2/4;
  }
  .welcome-texts {
    grid-column: 4/9;
    margin-left: 120px;
  }
  .resume-btn {
    grid-column: 3/7;
    margin-left: 320px;
  }

  #projects {
    margin: auto 200px;
  }
  #projects h3 {
    width: 20%;
  }
  #blogs {
    margin: auto 150px auto 250px;
  }
  .first-blog img {
    margin-left: -115px;
  }
  .likes img,
  .comments img {
    margin-left: 0;
  }
  .left-side input {
    width: 50%;
  }
  .contact-form {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 0 0 0 50px;
  }
  .left-side {
    grid-column: 2/4;
  }
  .contact-form textarea {
    grid-column: 5/7;
  }
  .contact-form button {
    margin-left: -100px;
    grid-column: 4/6;
  }
  .contact-btn {
    margin-top: 30px;
    padding: 10px;
  }
  .subscribe {
    margin-left: 50px;
  }
  .subscribe button {
    margin-left: -90px;
  }
}
